<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place details</title>
</head>
<body>
    <h1><%= site.title %></h1>
    <h2><%= site.location %></h2>
    <a href="/sites/<%= site._id %>/edit">Edit</a>
    <form action="/sites/<%= site._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <a href="/sites">Back to all places</a>
</body>
</html>