<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Book</title>
</head>
<body>
    <h1>Welcome to travel-book</h1>
    <a href="/sites">All Places</a>
</body>
</html>